body {

    color: #000000;
    background-color: #f8e3f7;
    font-family:'Lucida Handwriting';
  }

.jumbotron {
    background-image: url("bacteria.jpg");
    background-size: 100% 100%;
    text-align: center;
  }
Footer
